@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-purple: #6e17f0;
  --secondary-purple: #41059b;
  --terceary-purple: #9d6be7;
  --background-color: #fffdfd;
  --main-white: #ffffff;
  --main-green: #00e777;
  --secondary-green: #047952;
  --box-shadow: rgb(93, 90, 90);
  --button-up-bg-color: rgb(157, 107, 231, 0.5);
  /* Dark mode colors */
  --background-color-d: rgb(53, 51, 51);
  --main-green-d: #81c784;
  --button-up-bg-color-d: rgba(88, 17, 194, 0.5);
}
/* Fonts */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto Slab, Roboto, sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 3px;
  margin: 0;
  position: relative;
  color: var(--main-purple);
  background-color: var(--background-color);
}

body.dark {
  background-color: var(--background-color-d);
  color: #9d6be7;
}
a {
  text-decoration: none;
}

/* Main */
.main {
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.main header,
.main section,
.footer {
  text-align: center;
  margin-bottom: 50px;
}

/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  background-color: var(--main-white);
  z-index: 5;
  color: var(--main-purple);
  font-size: 1.3rem;
  padding: 0 10px;
  box-shadow: 2px 4px 5px var(--main-purple);
  height: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

body.dark .navigation {
  background-color: var(--background-color-d);
  color: var(--terceary-purple);
  box-shadow: 2px 4px 5px var(--secondary-purple);
}
.navbar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar-top {
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: center;
  font-size: 1.5rem;
}

.navbar-top i {
  font-size: 2.3rem;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Roboto Slab, Roboto, sans-serif;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-style: italic;
  font-weight: bolder;
  margin-left: 5px;
  border: 3px solid var(--main-purple);
}

body.dark .navbar-logo {
  border-color: var(--terceary-purple);
}
.navbar-logo span {
  margin-right: 3px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.nav-item {
  margin-bottom: 80px;
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e17f0;
}

body.dark .nav-item a {
  color: #9d6be7;
}

.nav-item .span-icon {
  font-size: 35px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.nav-item:hover .span-icon{
  font-size: 25px;
  margin: 6.8px 5.6px 6.8px 5.6px;
}

.nav-link-title{
  margin-left: 5px;
}
.collapsed {
  padding: 0;
}

.collapsed .navbar-top {
  justify-content: center;
}

.collapsed .navbar-logo {
  display: none;
}

.nav-item img {
  margin: 0;
}

.collapsed .nav-link-title {
  display: none;
}

/* Main Content */

/* Header */
.header {
  text-align: center;
  position: relative;
  color: var(--main-purple);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/img/background-header.svg");
  background-size: cover;
}

body.dark .header {
  color: var(--terceary-purple);
  background-image: url("../public/img/background-header-dark.svg");
}

/* Dark mode button */
.switch-container {
  position: absolute;
  left: 90px;
  top: 60px;
}

.switch {
  background-color: var(--background-color);
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  color: var(--main-purple);
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--main-white);
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.switch.active {
  background-color: var(--secondary-purple);
  color: var(--main-white);
}

.switch.active::after {
  right: 0;
  left: unset;
}
/* Tranlate Button */
.translate-button {
  position: absolute;
  color: var(--main-white);
  cursor: pointer;
  font-size: 2.3rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

body.dark .translate-button {
  color: var(--secondary-purple);
}

.translate-button:hover {
  font-size: 2.5rem;
  color: var(--main-green);
}

body.dark .translate-button:hover {
  color: var(--main-white);
}

.profile-photo {
  width: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid 8px var(--main-white);
}

body.dark .profile-photo {
  border-color: var(--background-color-d);
}

h1 {
  margin-top: 0;
  font-weight: 300;
}

.hello-v {
  font-style: italic;
  font-weight: bolder;
}

.header p {
  font-family: Roboto;
}

.header p:first-of-type {
  background-color: var(--main-green);
  color: var(--secondary-purple);
}

body.dark .header p:first-of-type{
  background-color: var(--main-green-d);
}

.header a {
  color: var(--main-green);
  font-family: Roboto Slab;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

body.dark .header a {
  color: var(--main-green-d);
}

.header a:hover {
  text-decoration: none;
  color: var(--secondary-green);
}

/* Work Section */
h2 {
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--secondary-purple);
}

body.dark h2 {
  color: var(--terceary-purple);
}

.works article {
  padding: 50px 0;
}

.works article:first-of-type {
  padding-top: 0;
}

.gallery {
  display: flex;
}

.gallery div {
  box-shadow: 5px 5px 6px var(--box-shadow);
}

.gallery img {
  width: 100%;
  height: 100%;
}

.works h3 {
  margin-top: 30px;
  font-weight: 400;
  border-radius: 50px;
}

.footer a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
  background-color: transparent;
}

.works h3:hover {
  animation: neon-border 0.5s ease-in-out infinite alternate;
  -webkit-animation: neon-border 0.5s ease-in-out infinite alternate;
  border: none;
  margin: 25px auto;
}

.works h3:hover a {
  animation: neon-text 0.5s ease-in-out infinite alternate;
  -webkit-animation: neon-text 0.5s ease-in-out infinite alternate;
  color: var(--main-white);
}
@keyframes neon-border {
  0% {
    box-shadow: 0 0 10px var(--main-green), 0 0 20px #02ae5b, 0 0 30px #016b38;
  }
  100% {
    box-shadow: 0 0 10px var(--main-green), 0 0 20px #02ae5b, 0 0 30px #016b38;
  }
}
@keyframes neon-text {
  0% {
    text-shadow: 0 0 10px var(--main-green), 0 0 20px #02ae5b, 0 0 30px #016b38;
  }
  100% {
    text-shadow: 0 0 10px var(--main-green), 0 0 20px #02ae5b, 0 0 30px #016b38;
  }
}

hr {
  margin: 30px 0;
}

.technologies {
  display: flex;
  justify-content: center;
}
.technologies p {
  margin: 0;
}

/* Links Section*/

.links article {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.links article::after {
  content: "";
  position: absolute;
  width: 3px;
  background: var(--main-green);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

body.dark .links article::after {
  background-color: var(--main-green-d);
}

.links img {
  height: auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.container {
  padding: 15px 30px;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -14px;
  background: var(--main-white);
  border: 3px solid var(--main-green);
  border-radius: 16px;
  z-index: 1;
}

body.dark .container::after {
  background-color: var(--background-color-d);
  border-color: var(--main-green-d);
}

.container.right::after {
  left: -12px;
}

.container::before {
  content: "";
  position: absolute;
  width: 27%;
  height: 3px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--main-green);
  z-index: 1;
}

body.dark .container::before {
  background-color: var(--main-green-d);
}

.container.right::before {
  left: 8px;
}

/* Contact */

.contact article {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 auto;
  width: 70%;
  padding: 2rem 4rem;
}

.send-mail {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.form-input {
  position: relative;
  height: 50px;
  overflow: hidden;
  margin-bottom: 20px;
}

.form-input.subject {
  height: 150px;
  margin-bottom: 40px;
}

.form-input input,
.form-input textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--main-purple);
  padding-top: 20px;
  border: none;
  outline: 0;
}

.form-input label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--main-purple);
}

body.dark {
  border-color: var(--terceary-purple);
}

.form-input label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--main-green);
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

body.dark .form-input label::after{
  border-color: var(--main-green-d) ;
}

.form-input span {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: var(--main-purple);
  font-weight: bold;
}

body.dark .form-input span {
  color: var(--terceary-purple);
}
.form-input.subject span {
  bottom: 108px;
}

.form-input input:focus + label span,
.form-input input:valid + label span,
.form-input textarea:focus + label span,
.form-input textarea:valid + label span {
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
  font-size: 14px;
  color: var(--secondary-purple);
}

body.dark .form-input input:focus + label span,
body.dark .form-input input:valid + label span,
body.dark .form-input textarea:focus + label span,
body.dark .form-input textarea:valid + label span {
  color: var(--terceary-purple);
}

.form-input input:focus + label:after,
.form-input input:valid + label:after,
.form-input textarea:focus + label:after,
.form-input textarea:valid + label:after {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.phone-and-email {
  display: flex;
  justify-content: space-between;
}

.phone-and-email div {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.contact hr {
  margin: 1rem 0;
}

.contact-links {
  font-size: 5rem;
}

.contact-links a:first-of-type {
  margin-right: 40px;
}

.contact-links a:last-of-type {
  margin-left: 40px;
}

.send-mail input[type="submit"] {
  border: none;
  background-color: var(--terceary-purple);
  color: var(--main-white);
  width: 80%;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s;
}

body.dark .send-mail input[type="submit"]{
  color: var(--background-color-d);
}

.send-mail input[type="submit"]:hover {
  background-color: var(--main-green);
  width: 100%;
}

body.dark .send-mail input[type="submit"]:hover{
  background-color: var(--main-green-d);
}

/* Button up */
.button-up-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: var(--button-up-bg-color);
  position: fixed;
  right: 50px;
  bottom: 300px;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--main-white);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

body.dark .button-up-container{
  background-color: var(--button-up-bg-color-d);
  color: var(--background-color-d)
}

.button-up-container:hover {
  width: 80px;
  height: 80px;
  font-size: 3rem;
  right: 35px;
  bottom: 285px;
}

.show {
  /* animation: popup 0.1s ease;
  -webkit-animation: popup 0.1s ease; */
  z-index: 20;
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  25% {
    width: 12.5px;
    height: 12.5px;
    right: 87.5px;
    bottom: 337.5px;
  }
  50% {
    width: 25px;
    height: 25px;
    right: 75px;
    bottom: 325px;
  }
  75% {
    width: 37.5px;
    height: 37.5px;
    right: 62.5px;
    bottom: 312.5px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

/* Footer */
.footer {
  *background-image: url("../public/img/background-footer.svg");
  *background-size: cover;
  background-color: var(--main-purple);
  -webkit-mask-image: url("../public/img/background-footer.svg");
  mask-image: url("../public/img/background-footer.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-bottom: 0;
}

body.dark .footer {
  background-color: var(--terceary-purple);
}

.footer .box-footer {
  color: var(--main-white);
  padding: 0 10px;
  line-height: 2rem;
}

body.dark .footer .box-footer {
  color: var(--background-color-d);
}

.footer .footer-sections {
  display: flex;
  justify-content: space-between;
}

.box-footer h3 {
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.about h3 span {
  font-style: italic;
  font-weight: bolder;
}

.box-footer a::after {
  bottom: -2px;
  background-color: var(--background-color);
  height: 2px;
}

.footer-links,
.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer a,
.footer-contact span {
  color: var(--main-white);
  font-size: 1.3rem;
  margin-bottom: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  width: fit-content;
}

body.dark .footer a,
body.dark .footer-contact span {
  color: var(--background-color-d);
}
.footer-contact span {
  margin-bottom: 0;
}

.footer i {
  font-size: 1.8rem;
}

.footer hr {
  border-color: var(--terceary-purple);
  margin: 40px 0 5px 0;
}

.footer footer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.footer footer section {
  width: 50%;
  margin: 0;
  padding: 0 10px;
  color: var(--main-white);
  letter-spacing: 2px;
}

body.dark .footer footer section {
  color: var(--background-color-d);
}

.footer footer a {
  font-size: 1rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.footer footer a:hover {
  color: var(--terceary-purple);
}

body.dark .footer footer a:hover {
  color: black;
  font-weight: 400;
}

.footer .box-footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 97%;
  /*animation*/
  transform-origin: right;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  margin-left: 2%;
  background-color: var(--main-white);
}

body.dark .footer .box-footer a::after {
  background-color: var(--background-color-d);
}

.footer .box-footer a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.footer footer p {
  margin: 0;
  color: var(--main-white);
  font-weight: 300;
}

body.dark .footer footer p {
  color: var(--background-color-d);
}
/* ----------------------------------------------------------------- */
/* Media queries */

@media (min-width: 320px) {
  /* Main */
  .main {
    margin: 0;
  }

  .main section,
  .main footer,
  .main header {
    padding: 0 10px;
  }

  /* Navigation */
  .navigation {
    display: none;
  }

  /* Header */
  .profile-photo {
    height: 220px;
  }

  .switch-container {
    left: 18px;
    top: 18px;
  }

  .translate-button {
    right: 18px;
    top: 8px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hello-v {
    font-size: 2.3rem;
  }

  .header p:first-of-type {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  .header p:last-of-type {
    font-size: 1.5rem;
  }

  .header a {
    font-size: 2.3rem;
  }

  .my-work-br {
    display: block;
  }

  /* Work Section */
  h2 {
    font-size: 3rem;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery div {
    width: 90%;
    margin-bottom: 20px;
  }

  .works h3 {
    padding: 5px 0 5px 0;
    font-size: 1.3rem;
    margin-bottom: 50px;
    border: 3px solid var(--main-green);
  }

  body.dark .works h3{
    border-color: var(--main-green-d);
  }

  .works a {
    color: var(--main-green);
  }

  body.dark .works a{
    color: var(--main-green-d);
  }

  .technologies img {
    height: 40px;
  }

  .technologies img:not(:first-of-type) {
    margin-left: 36px;
  }

  .links article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .links article::after,
  .container::before,
  .container::after {
    display: none;
  }

  .links img {
    width: 100px;
    margin-bottom: 20px;
  }

  .container {
    padding: 0;
  }

  /* Contact */
  .contact article {
    padding: 0;
    width: 90%;
  }

  /* Footer */
  .main .footer {
    padding-top: 80px;
  }

  .footer-sections {
    flex-direction: column;
  }

  .footer .box-footer {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .box-footer h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .box-footer.about h3 {
    font-weight: 200;
  }

  .box-footer h3 span {
    font-size: 2rem;
    font-weight: 400;
  }
  .about p {
    font-size: 0.8rem;
  }

  .footer-links,
  .footer-contact {
    justify-content: center;
    align-items: center;
  }

  .footer a {
    font-size: 1.3rem;
  }

  .footer-contact span {
    font-size: 1rem;
  }

  .footer hr {
    margin-top: 5px;
  }

  .main .footer footer {
    padding: 20px 10px;
    flex-direction: column;
  }

  .footer footer section {
    width: 100%;
    font-size: 0.9rem;
  }

  .footer footer section:last-of-type {
    display: none;
  }

  .show {
    display: none;
  }
}
/* ----------------------------------------------------------------- */
@media (min-width: 440px) {
  /* Header */
  h1 {
    font-size: 2.5rem;
  }

  .hello-v {
    font-size: 2.8rem;
  }

  .header p:first-of-type {
    font-size: 1.4rem;
  }

  .header p:last-of-type {
    font-size: 2rem;
  }

  .header a {
    font-size: 2.5rem;
  }

  /* Work Section */
  h2 {
    font-size: 3.5rem;
  }

  /* Links Section */
  .links img {
    margin-bottom: 40px;
  }

  /* Footer */
  .box-footer h3 {
    font-size: 2rem;
    font-weight: 400;
  }

  .box-footer.about h3 {
    font-weight: 200;
  }

  .about p {
    font-size: 0.8rem;
  }

  .footer-contact span {
    font-size: 1.3rem;
  }

  .box-footer.links-section a:last-of-type {
    margin-bottom: 0;
  }
}
/* ----------------------------------------------------------------- */
@media (min-width: 576px) {
  .main {
    margin-left: 55px;
  }

  .main section,
  .main footer {
    padding: 0 60px;
  }

  /* Navigation */
  .navigation {
    display: flex;
    width: 55px;
  }

  .navbar-top i:hover {
    font-size: 2.3rem;
  }
  .navbar-logo,
  .nav-link-title {
    display: none;
  }

  .nav-item img {
    margin: 0;
  }

  .collapsed .nav-item img {
    padding: 0;
  }

  /* Header */
  .switch-container {
   left: 40px;
    top: 25px;
  }

  .translate-button {
    right: 40px;
    top: 16px;
  }

  h1 {
    font-size: 2.8rem;
  }

  /* Work Section */
  h2 {
    font-size: 3.5rem;
  }

  .works h3 {
    font-size: 2rem;
    margin-bottom: 20px 0;
  }

  .technologies img {
    height: 50px;
  }

  /* Links Section */
  .links article {
    display: block;
    position: relative;
  }

  .links article::after,
  .container::before,
  .container::after {
    display: block;
  }

  .container::before {
    width: 15%;
  }

  .links img {
    margin-bottom: 0;
    width: 120px;
  }
  .links a:hover img {
    width: 120px;
  }
  .container {
    position: relative;
  }

  .about p {
    font-size: 0.8rem;
  }

  .show {
    display: flex;
  }
}
/* ----------------------------------------------------------------- */
@media (min-width: 768px) {
  .main {
    margin-left: 55px;
  }

  .main-expand {
    margin-left: 200px;
  }

  .main section,
  .main footer,
  .main header {
    padding: 0 70px;
  }

  /* Navigation */
  .navigation {
    display: flex;
    width: 200px;
  }

  .navbar-top i:hover {
    font-size: 2rem;
  }

  .navbar-logo,
  .nav-link-title {
    display: flex;
  }

  .nav-item img {
    padding: 0 5px;
  }

  .collapsed {
    width: 55px;
  }

  .collapsed .nav-item img {
    padding: 0 5px;
  }

  /* Header */
  .profile-photo {
    height: 255px;
  }

  .switch-container {
    left: 70px;
    top: 50px;
  }

  .translate-button {
    right: 70px;
    top: 40px;
  }

  /* Work Section */
  h2 {
    font-size: 4rem;
  }

  .gallery div {
    height: 245px;
  }

  .works h3 {
    padding: 5px 20px 5px 20px;
    margin: 20px auto;
    font-size: 2rem;
    border: 5px solid rgb(0, 231, 119, 0.5);
    width: fit-content;
  }

  .works a {
    color: rgb(0, 231, 119, 0.5);
  }

  /* Links Section */
  .container::before {
    width: 15%;
  }

  .links img {
    width: 160px;
  }
  .links a:hover img {
    width: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container {
    position: relative;
  }

  /* Footer */
  .main .footer {
    padding-top: 140px;
  }

  .footer-sections {
    flex-direction: column;
  }

  .box-footer h3 span {
    font-size: 2.3rem;
  }

  .about p {
    font-size: 1rem;
  }

  .footer footer section:first-of-type {
    margin-bottom: 20px;
  }
  .footer footer section:last-of-type {
    display: inline;
  }
}
/* ----------------------------------------------------------------- */
@media (min-width: 992px) {
  .main section,
  .main footer,
  .main header {
    padding: 0 80px;
  }

  /* Header */
  .profile-photo {
    height: 286px;
  }

  .switch-container {
    left: 90px;
    top: 60px;
  }

  .translate-button {
    right: 90px;
    top: 40px;
  }

    .my-work-br {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  .hello-v {
    font-size: 3.5rem;
  }

  .header p:first-of-type {
    font-size: 2rem;
  }

  .header p:last-of-type {
    font-size: 2.6rem;
  }

  .header a {
    font-size: 2.9rem;
  }

  /* Work Section */
  h2 {
    font-size: 5rem;
  }

  .gallery {
    flex-direction: row;
    justify-content: space-between;
  }

  .gallery div {
    width: 30%;
    height: 150px;
  }

  .works h3 {
    font-size: 2.5rem;
  }

  /* Links Section */
  .container::before {
    width: 18%;
  }
  .links img {
    width: 220px;
  }

  .links a:hover img {
    width: 180px;
  }

  .container {
    position: relative;
  }

  /* Footer */
  .main .footer {
    padding: 140px 50px 0 50px;
  }

  .footer-sections {
    flex-direction: row;
    margin-bottom: 50px;
  }

  .footer .box-footer {
    width: 22%;
    text-align: left;
    margin-bottom: 0;
  }

  .box-footer:first-of-type {
    width: 35%;
  }

  .box-footer:last-of-type {
    width: 41%;
  }

  .box-footer h3 {
    font-weight: 200;
    font-size: 2rem;
  }

  .box-footer h3 span {
    font-size: 2.5rem;
  }

  .about p {
    font-size: 1rem;
  }

  .footer-links,
  .footer-contact {
    align-items: flex-start;
  }

  .main .footer footer {
    flex-direction: row;
  }
  .footer footer section:first-of-type {
    margin-bottom: 0px;
  }
}
/* ----------------------------------------------------------------- */
@media (min-width: 1200px) {
  .gallery div {
    height: 200px;
  }

  .container::before {
    width: 25%;
  }

  .footer .box-footer {
    width: 16%;
  }

  .box-footer:first-of-type {
    width: 35%;
  }
  
  .box-footer:last-of-type {
    width: 33%;
  }
}
